---
import MunicipalityTable from '../components/MunicipalityTable'
import Topbar from '../components/Topbar'
import Chart from '../components/Chart'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NJ Shore Town Profiles</title>
	</head>
	<body class="h-screen w-screen bg-gradient-to-l from-orange-500 to-amber-400 p-6">
		<Topbar />
		<MunicipalityTable />
		<Chart />
	</body>
</html>
