---
import Topbar from "../components/Topbar";
import { getShoreTowns, getShoreCounties } from "../lib/utils";

const shore_towns = await getShoreTowns();
const shore_counties = await getShoreCounties();
---

<html lang="en">
	<head>
		<style>
			body {
				background: linear-gradient(
					-45deg,
					#ee7752,
					#e7c53c,
					#23a6d5,
					#23d5ab
				);
				background-size: 400% 10000%;
				animation: gradient 30s ease infinite;
				height: 100vh;
			}

			@keyframes gradient {
				0% {
					background-position: 0% 50%;
				}
				50% {
					background-position: 100% 50%;
				}
				100% {
					background-position: 0% 50%;
				}
			}
		</style>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>NJ Shore Town Profiles</title>
	</head>
	<body
		class="h-screen w-screen p-8 m-0 overflow-x-hidden"
	>
		<Topbar
			client:load
			counties={shore_counties}
			municipalities={shore_towns}
		/>
	</body>
</html>
